In [77]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

-Исследование CSV-файла

In [2]:
import csv
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for i,row in enumerate(reader):
        print(row)
        if(i>=5):
            break

['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
['7/21/2014', '83.46', '83.53', '81.81', '81.93', '2359300']
['7/18/2014', '83.3', '83.4', '82.52', '83.35', '4020800']
['7/17/2014', '84.35', '84.63', '83.33', '83.63', '1974000']
['7/16/2014', '83.77', '84.91', '83.66', '84.91', '1755600']
['7/15/2014', '84.3', '84.38', '83.2', '83.58', '1874700']

-Чтение CSV-файла в датафрейме

In [7]:
# считываем msft.csv в датафрейм
msft = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

-Указание индекса столбца при чтении CSV-файла

In [8]:
#используем столбец 0 в качестве индекса
msft = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

-Вывод и спецификация типа данных

In [9]:
# исследуем типы столбцов в этом датафрейме
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [11]:
# указываем что столбец Volume должен иметь тип float64
msft = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv",
                  dtype={'Volume': np.float64})
msft.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

-Указание имен столбцов

In [13]:
#Задаем новый набор имен для столбцов все имеют ниний регистр, head=0 задает строку заголовку
df = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv",
                   header=0,
                   names=['date','open','high','low','close','volume')]
df[:5]

        date   open   high    low  close   volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

-Указание конкретных столбцов для загрузки

In [14]:
# считываем в данных только столбцы Date и Close и индексируем по столбцу Date
df2 = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv",
                 usecols=['Date','Close'],
                 index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

-Сохранение датафрейма в CSV-файл

In [15]:
# сохраняем датафрейм df2 в новый csv-файл
# задаем имя индекса как date
df2.to_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_modified.csv", index_label='date')

In [16]:
# с помощью модуля csv взглянем на первые 5 строк CSV файла
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_modified.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for i,row in enumerate(reader):
        print(row)
        if(i>=5):
            break

['date', 'Close']
['7/21/2014', '81.93']
['7/18/2014', '83.35']
['7/17/2014', '83.63']
['7/16/2014', '84.91']
['7/15/2014', '83.58']

-Работа с данными, в которых используются разделители полей

In [17]:
# используем функцию read_table с параметром sep=',', что бы прочитать CSV файл
df = pd.read_table("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv", sep=',')
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [18]:
# сохраняем как данные, в которых разделителем является вертикальная черта
df.to_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_piped.csv", sep='|')
# смотрим, как сработал программный код
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_piped.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for i,row in enumerate(reader):
        print(row)
        if(i>=5):
            break

['|Date|Open|High|Low|Close|Volume']
['0|7/21/2014|83.46|83.53|81.81|81.93|2359300']
['1|7/18/2014|83.3|83.4|82.52|83.35|4020800']
['2|7/17/2014|84.35|84.63|83.33|83.63|1974000']
['3|7/16/2014|83.77|84.91|83.66|84.91|1755600']
['4|7/15/2014|84.3|84.38|83.2|83.58|1874700']

-Обработка загрязненных данных, в которых используются разделители полей

In [19]:
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft2.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for i,row in enumerate(reader):
        print(row)
        if(i>=6):
            break

['This is fun because the data does not start on the first line', '', '', '', '', '']
['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
['', '', '', '', '', '']
['And there is space between the header row and data', '', '', '', '', '']
['7/21/2014', '83.46', '83.53', '81.81', '81.93', '2359300']
['7/18/2014', '83.3', '83.4', '82.52', '83.35', '4020800']
['7/17/2014', '84.35', '84.63', '83.33', '83.63', '1974000']

In [20]:
# считываем данные, пропустив строки 0,2 и 3
df = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft2.csv", skiprows=[0,2,3])
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [22]:
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_with_footer.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for row in reader:
        print(row)

['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
['7/21/2014', '83.46', '83.53', '81.81', '81.93', '2359300']
['7/18/2014', '83.3', '83.4', '82.52', '83.35', '4020800']
[]
['Uh oh', ' there is stuff at the end.']

In [23]:
df = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_with_footer.csv", 
                skipfooter=2,
                engine='python')
df

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

In [24]:
# считаем только первые три строки
pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv", nrows=3)

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000

In [25]:
# пропускаем 100 строк, а затем считываем следующие 5 строк
pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv", skiprows=100, nrows=5,
           header=0,
           names=['date','open','high','low','close','volume'])

        date   open   high    low  close   volume
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

-Чтение и запись в формате Excel

In [26]:
#считываем файл Excel считываем только данные первого рабочего листа (msft в данном случае)
df = pd.read_excel("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [31]:
# считываем данные рабочего листа aapl
aapl = pd.read_excel('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.xlsx', sheet_name='aapl')
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [32]:
# сохраняем XLS файл в рабочем листе 'Sheet1'
df.to_excel('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks2.xls')

In [33]:
# записываем, задав имя рабочего листа MSFT
df.to_excel('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks_msft.xls', sheet_name='MSFT')

In [34]:
from pandas import ExcelWriter
with ExcelWriter('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.xlsx') as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

In [35]:
# записываем в Xlsx
df.to_excel('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft2.xlsx')

-Чтение и запись JSON - файлов

In [36]:
# записываем даные эксель в JSON-файл
df[:5].to_json('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.json')
# теперь взглянем на JSON-файл
import json
from pprint import pprint

with open('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.json') as data_file:
    data = json.load(data_file)
    
pprint(data)

{'Close': {'0': 81.93, '1': 83.35, '2': 83.63, '3': 84.91, '4': 83.58},
 'Date': {'0': 1405900800000,
          '1': 1405641600000,
          '2': 1405555200000,
          '3': 1405468800000,
          '4': 1405382400000},
 'High': {'0': 83.53, '1': 83.4, '2': 84.63, '3': 84.91, '4': 84.38},
 'Low': {'0': 81.81, '1': 82.52, '2': 83.33, '3': 83.66, '4': 83.2},
 'Open': {'0': 83.46, '1': 83.3, '2': 84.35, '3': 83.77, '4': 84.3},
 'Volume': {'0': 2359300,
            '1': 4020800,
            '2': 1974000,
            '3': 1755600,
            '4': 1874700}}

In [37]:
# считываем данные в формате JSON 
df_from_json = pd.read_json('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.json')
df_from_json[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

-Чтение HTML-файлов из интернета

In [38]:
#задаем URL-адрес HTML-файла
url = "http://www.fdic.gov/bank/individual/failed/banklist.html"
# читаем его
banks = pd.read_html(url)

In [39]:
# проверяем, как была прочитана часть первой таблицы
banks[0][0:5].iloc[:,0:2]

                             Bank Name     City
0     City National Bank of New Jersey   Newark
1                        Resolute Bank   Maumee
2                Louisa Community Bank   Louisa
3                 The Enloe State Bank   Cooper
4  Washington Federal Bank for Savings  Chicago

In [41]:
#считаваем данные о котировках акций
df = pd.read_excel('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.xlsx')
# записавыем первые две строки в HTML
df.head(2).to_html('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.html')
# смотрим HTML-файл в браузере
import webbrowser
webbrowser.open('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.html')

True

- Чтение и запись HDF5-файлов

In [42]:
# задаем стартовое значение генератора случайных чисел для получения воспроизводимых результатов
np.random.seed(123456)
# создаем датафрейм, состоящий из дат и случайных чисел, записанных в трех столбцах
df = pd.DataFrame(np.random.randn(8,3),
                 index=pd.date_range('1/1/2000', periods=8),
                 columns=['A','B','C'])
# создаем хранилище HDF5
store = pd.HDFStore('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/store.h5')
store['df'] = df # сохранение произошло здесь
store

<class 'pandas.io.pytables.HDFStore'>
File path: C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/store.h5

In [43]:
# считываем данные хранилища HDF5
store = pd.HDFStore('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/store.h5')
df = store['df']
df[:5]

                   A         B         C
2000-01-01  0.469112 -0.282863 -1.509059
2000-01-02 -1.135632  1.212112 -0.173215
2000-01-03  0.119209 -1.044236 -0.861849
2000-01-04 -2.104569 -0.494929  1.071804
2000-01-05  0.721555 -0.706771 -1.039575

In [44]:
# этот код меняет датафрейм, но изменения не сохраняются
df.iloc[0].A=1
# чтобы сохранить изменения, присваеваем объект DataFrame объекту- хранилищу HDF5
store['df'] = df
#теперь изменения сохранены
# следуюзий код загружает хранилище и выводит первые две строки, демонстрируя, что сохранение выполнено
pd.HDFStore('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/store.h5')['df'][:5]

                   A         B         C
2000-01-01  1.000000 -0.282863 -1.509059
2000-01-02 -1.135632  1.212112 -0.173215
2000-01-03  0.119209 -1.044236 -0.861849
2000-01-04 -2.104569 -0.494929  1.071804
2000-01-05  0.721555 -0.706771 -1.039575

- Загрузка CSV-файлов из интерента

In [49]:
#Считывает csv непосредственно из google finance по url фдресу
msft_hist = pd.read_csv(
    "http://www.google.com/finance/historical?" +
    "q=NASDAQ:MSFT&startdate=Apr+01%2C+2017&" +
    "enddate=Apr+30%2C+2017&output=csv")
msft_hist[:5]

HTTPError: HTTP Error 403: Forbidden

- Чтение из БД sql и запись в БД sql

In [50]:
# импортируем библиотеку SQLite
import sqlite3
# считываем данные о котировках акций из CSV-файла
msft = pd.read_csv('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv')
msft['Symbol']='MSFT'
aapl = pd.read_csv('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/aapl.csv')
aapl['Symbol']='AAPL'

#создаем подключение
connection = sqlite3.connect('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.sqlite')
# .to_sql() создает базу SQL для хранения датафреймов в указанной таблице, 
# if_exists задает действие, которое нужно выполнить в том случае если таблица уже существует
msft.to_sql('STOCK_DATA', connection, if_exists='replace')
msft.to_sql('STOCK_DATA', connection, if_exists='append')

# подверждаем отправку данных в базу и закрываем подключение
connection.commit()
connection.close()

In [51]:
# подключаемся к файлу БД
connection = sqlite3.connect('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.sqlite')

# запрос всех записей в STOCK_DATA
# возвращает датафрейм
# index_col задает столбец, который нужно сделаь индексом датафрейма 
stocks = pd.io.sql.read_sql('SELECT * FROM STOCK_DATA;',
                           connection, index_col='index')

# закрываем подключение
connection.close()

# выводим первые 5 наблюдений в извлеченных данных
stocks[:5]

            Date   Open   High    Low  Close   Volume Symbol
index
0      7/21/2014  83.46  83.53  81.81  81.93  2359300   MSFT
1      7/18/2014  83.30  83.40  82.52  83.35  4020800   MSFT
2      7/17/2014  84.35  84.63  83.33  83.63  1974000   MSFT
3      7/16/2014  83.77  84.91  83.66  84.91  1755600   MSFT
4      7/15/2014  84.30  84.38  83.20  83.58  1874700   MSFT

In [53]:
connection = sqlite3.connect('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.sqlite')
query = "select * from stock_data where volume > 29200100 and symbol='MSFT';"
items = pd.io.sql.read_sql(query, connection, index_col='index')
connection.close()
items

            Date   Open   High    Low  Close    Volume Symbol
index
1081   5/21/2010  42.22  42.35  40.99  42.00  33610800   MSFT
1097   4/29/2010  46.80  46.95  44.65  45.92  47076200   MSFT
1826   6/15/2007  89.80  92.10  89.55  92.04  30656400   MSFT
3455   3/16/2001  47.00  47.80  46.10  45.33  40806400   MSFT
3712   3/17/2000  49.50  50.00  48.29  50.00  50860500   MSFT
1081   5/21/2010  42.22  42.35  40.99  42.00  33610800   MSFT
1097   4/29/2010  46.80  46.95  44.65  45.92  47076200   MSFT
1826   6/15/2007  89.80  92.10  89.55  92.04  30656400   MSFT
3455   3/16/2001  47.00  47.80  46.10  45.33  40806400   MSFT
3712   3/17/2000  49.50  50.00  48.29  50.00  50860500   MSFT

-- Загрузка данных с удаленных сервисов

-Загрузка данных о котировках акций с веб-сервисов Yahoo и google

In [55]:
import pandas_datareader as pdr

In [61]:
# считываем данные с google и выводим первые 5 строк
start = datetime(2016,4,1)
end = datetime(2016,4,30)
goog = pdr.data.DataReader('MSFT', 'yahoo', start, end)
goog[:5]

                 High        Low       Open      Close    Volume  Adj Close
Date
2016-04-01  55.610001  54.570000  55.049999  55.570000  24399200  51.614536
2016-04-04  55.660000  55.000000  55.430000  55.430000  18928800  51.484501
2016-04-05  55.299999  54.459999  55.189999  54.560001  19272300  50.676422
2016-04-06  55.200001  54.209999  54.360001  55.119999  21188700  51.196564
2016-04-07  54.910000  54.230000  54.869999  54.459999  19225100  50.583542

-Загрузка данных об опционах с веб-сервиса Google Finance

In [70]:
import yfinance as yf

In [74]:
# считываем данные об опционах
options = pdr.data.Options('MSFT', 'yahoo')
options.expiry_dates

ImmediateDeprecationError:
Yahoo Options has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [75]:
data = options.get_options_data(expiry=options.expiry_dates[0])
data.iloc[:5,:3]

NameError: name 'options' is not defined

In [78]:
data.loc[(30, slice(None), 'put'), :].iloc[0:5, 0:3]

AttributeError: 'dict' object has no attribute 'loc'

- Загрузка БД по экономической статистике федерального резервного банка Сент-Луиса

In [82]:
# считываем данные по GPD из FRED
gdp = pdr.data.FredReader('GDP',
                         date(2018,1,1),
                         date(2019,1,26))
gdp.read()[:5]

                  GDP
DATE
2018-01-01  20163.159
2018-04-01  20510.177
2018-07-01  20749.752
2018-10-01  20897.804
2019-01-01  21098.827

In [87]:
# получаем данные по показателю Compensation of employees: wages and salaries
pdr.data.FredReader('A576RC1A027NBEA',
                   date(1929,1,1),
                   date(2013,1,1)).read()[:5]

            A576RC1A027NBEA
DATE
1929-01-01             50.5
1930-01-01             46.2
1931-01-01             39.2
1932-01-01             30.5
1933-01-01             29.0

- Загрузка данных Кеннета Френча

In [88]:
# считываем набор данных Global Factors из библиотеки Кеннета Френча
factors = pdr.data.FamaFrenchReader('Global_Factors').read()
factors[0][:5]

         Mkt-RF   SMB   HML   WML   RF
Date
2015-02    5.93 -0.17 -0.30 -1.93  0.0
2015-03   -1.20  1.54 -0.89  2.07  0.0
2015-04    2.71  0.81  2.15 -3.31  0.0
2015-05    0.49  1.33 -1.25  4.24  0.0
2015-06   -2.10  2.04 -0.94  1.83  0.0

- Загрузка данных всемирного банка

In [92]:
from pandas_datareader import wb
# извлекаем все индикаторы
all_indicators = pdr.wb.get_indicators()
# выводим первые 5
all_indicators.iloc[:5,:2]

                     id                                     name
0    1.0.HCount.1.90usd          Poverty Headcount ($1.90 a day)
1     1.0.HCount.2.5usd          Poverty Headcount ($2.50 a day)
2  1.0.HCount.Mid10to50    Middle Class ($10-50 a day) Headcount
3       1.0.HCount.Ofcl  Official Moderate Poverty Rate-National
4   1.0.HCount.Poor4uds             Poverty Headcount ($4 a day)

In [93]:
# поиск индикаторов, связанных с продолжительностью жизни
le_indicators = pdr.wb.search('life expectancy')
# выводим первые 3 строки
le_indicators.iloc[:5,:2]

                      id                                               name
10246        SE.SCH.LIFE  School life expectancy, primary to tertiary, b...
10247     SE.SCH.LIFE.FE  School life expectancy, primary to tertiary, f...
10248     SE.SCH.LIFE.MA  School life expectancy, primary to tertiary, m...
11663  SP.DYN.LE00.FE.IN           Life expectancy at birth, female (years)
11664     SP.DYN.LE00.IN            Life expectancy at birth, total (years)

In [94]:
# получаем полный список стран, показываем код и название
countries = pdr.wb.get_countries()
# выводим фрагмент списка стран
countries.loc[0:5,['name', 'capitalCity', 'iso2c']]

          name       capitalCity iso2c
0        Aruba        Oranjestad    AW
1  Afghanistan             Kabul    AF
2       Africa                      A9
3       Angola            Luanda    AO
4      Albania            Tirane    AL
5      Andorra  Andorra la Vella    AD

In [95]:
# получаем данные о продолжительности жизни для всех стран с 1980 по 2014 год
le_data_all = pdr.wb.download(indicator='SP.DYN.LE00.IN',
                             start='1980',
                             end='2014')
le_data_all

                    SP.DYN.LE00.IN
country       year
Canada        2014       81.800000
              2013       81.748780
              2012       81.648780
              2011       81.448780
              2010       81.246341
...                            ...
United States 1984       74.563415
              1983       74.463415
              1982       74.360976
              1981       74.009756
              1980       73.609756

[105 rows x 1 columns]

In [96]:
# по умолчанию будут возвращены данные только для США, Канады и Мексики
le_data_all.index.levels[0]

Index(['Canada', 'Mexico', 'United States'], dtype='object', name='country')

In [100]:
# отключаем предупреждение Anaconda
import warnings
warnings.simplefilter('ignore')
# получаем данные о продолжительности жизни для всех стран с 1980 по 2014 год
le_data_all = wb.download(indicator='SP.DYN.LE00.IN',
                         country = countries['iso2c'],
                         start='1980',
                         end='2014')
le_data_all

               SP.DYN.LE00.IN
country  year
Aruba    2014          75.583
         2013          75.441
         2012          75.299
         2011          75.158
         2010          75.017
...                       ...
Zimbabwe 1984          61.280
         1983          61.025
         1982          60.650
         1981          60.203
         1980          59.731

[9240 rows x 1 columns]

In [101]:
#le_data_all.pivot(index='country', columns='year')
le_data = le_data_all.reset_index().pivot(index='country', 
                                          columns='year')
# смотрим транспортированные данные
le_data.iloc[:5,0:3]

               SP.DYN.LE00.IN
year                     1980    1981    1982
country
Afghanistan            43.244  43.923  44.617
Albania                70.208  70.416  70.635
Algeria                58.198  59.519  60.813
American Samoa            NaN     NaN     NaN
Andorra                   NaN     NaN     NaN

In [102]:
# определяем для каждого года страну с наименьшей продолжительностью жизни
country_with_least_expectancy = le_data.idxmin(axis=0)
country_with_least_expectancy[:5]

                year
SP.DYN.LE00.IN  1980       Cambodia
                1981       Cambodia
                1982    Timor-Leste
                1983    South Sudan
                1984    South Sudan
dtype: object

In [103]:
exp = le_data.min(axis=0)
exp[:5]

                year
SP.DYN.LE00.IN  1980    27.536
                1981    33.342
                1982    38.175
                1983    39.671
                1984    40.005
dtype: float64

In [107]:
# этот код объединяет два датафрейма вместе, и мы получаем по каждому году страну с наименьшей продолжителльностью жизни и
# наименьшее значение продолжительности жизни
least = pd.DataFrame(
    data = {'Country': country_with_least_expectancy.values,
            'Expectancy': exp.values},
    index = country_with_least_expectancy.index.levels[1])
least[:100]

          Country  Expectancy
year
1980     Cambodia      27.536
1981     Cambodia      33.342
1982  Timor-Leste      38.175
1983  South Sudan      39.671
1984  South Sudan      40.005
...           ...         ...
2010      Lesotho      45.100
2011      Lesotho      46.207
2012      Lesotho      47.416
2013      Lesotho      48.663
2014      Lesotho      49.891

[35 rows x 2 columns]