In [4]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

-Исследование CSV-файла

In [2]:
import csv
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for i,row in enumerate(reader):
        print(row)
        if(i>=5):
            break

['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
['7/21/2014', '83.46', '83.53', '81.81', '81.93', '2359300']
['7/18/2014', '83.3', '83.4', '82.52', '83.35', '4020800']
['7/17/2014', '84.35', '84.63', '83.33', '83.63', '1974000']
['7/16/2014', '83.77', '84.91', '83.66', '84.91', '1755600']
['7/15/2014', '84.3', '84.38', '83.2', '83.58', '1874700']

-Чтение CSV-файла в датафрейме

In [7]:
# считываем msft.csv в датафрейм
msft = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

-Указание индекса столбца при чтении CSV-файла

In [8]:
#используем столбец 0 в качестве индекса
msft = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

-Вывод и спецификация типа данных

In [9]:
# исследуем типы столбцов в этом датафрейме
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [11]:
# указываем что столбец Volume должен иметь тип float64
msft = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv",
                  dtype={'Volume': np.float64})
msft.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

-Указание имен столбцов

In [13]:
#Задаем новый набор имен для столбцов все имеют ниний регистр, head=0 задает строку заголовку
df = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv",
                   header=0,
                   names=['date','open','high','low','close','volume')]
df[:5]

        date   open   high    low  close   volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

-Указание конкретных столбцов для загрузки

In [14]:
# считываем в данных только столбцы Date и Close и индексируем по столбцу Date
df2 = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv",
                 usecols=['Date','Close'],
                 index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

-Сохранение датафрейма в CSV-файл

In [15]:
# сохраняем датафрейм df2 в новый csv-файл
# задаем имя индекса как date
df2.to_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_modified.csv", index_label='date')

In [16]:
# с помощью модуля csv взглянем на первые 5 строк CSV файла
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_modified.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for i,row in enumerate(reader):
        print(row)
        if(i>=5):
            break

['date', 'Close']
['7/21/2014', '81.93']
['7/18/2014', '83.35']
['7/17/2014', '83.63']
['7/16/2014', '84.91']
['7/15/2014', '83.58']

-Работа с данными, в которых используются разделители полей

In [17]:
# используем функцию read_table с параметром sep=',', что бы прочитать CSV файл
df = pd.read_table("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv", sep=',')
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [18]:
# сохраняем как данные, в которых разделителем является вертикальная черта
df.to_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_piped.csv", sep='|')
# смотрим, как сработал программный код
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_piped.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for i,row in enumerate(reader):
        print(row)
        if(i>=5):
            break

['|Date|Open|High|Low|Close|Volume']
['0|7/21/2014|83.46|83.53|81.81|81.93|2359300']
['1|7/18/2014|83.3|83.4|82.52|83.35|4020800']
['2|7/17/2014|84.35|84.63|83.33|83.63|1974000']
['3|7/16/2014|83.77|84.91|83.66|84.91|1755600']
['4|7/15/2014|84.3|84.38|83.2|83.58|1874700']

-Обработка загрязненных данных, в которых используются разделители полей

In [19]:
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft2.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for i,row in enumerate(reader):
        print(row)
        if(i>=6):
            break

['This is fun because the data does not start on the first line', '', '', '', '', '']
['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
['', '', '', '', '', '']
['And there is space between the header row and data', '', '', '', '', '']
['7/21/2014', '83.46', '83.53', '81.81', '81.93', '2359300']
['7/18/2014', '83.3', '83.4', '82.52', '83.35', '4020800']
['7/17/2014', '84.35', '84.63', '83.33', '83.63', '1974000']

In [20]:
# считываем данные, пропустив строки 0,2 и 3
df = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft2.csv", skiprows=[0,2,3])
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [22]:
with open("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_with_footer.csv") as file:
    reader = csv.reader(file, delimiter=',')
    for row in reader:
        print(row)

['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
['7/21/2014', '83.46', '83.53', '81.81', '81.93', '2359300']
['7/18/2014', '83.3', '83.4', '82.52', '83.35', '4020800']
[]
['Uh oh', ' there is stuff at the end.']

In [23]:
df = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft_with_footer.csv", 
                skipfooter=2,
                engine='python')
df

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

In [24]:
# считаем только первые три строки
pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv", nrows=3)

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000

In [25]:
# пропускаем 100 строк, а затем считываем следующие 5 строк
pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/msft.csv", skiprows=100, nrows=5,
           header=0,
           names=['date','open','high','low','close','volume'])

        date   open   high    low  close   volume
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

-Чтение и запись в формате Excel

In [26]:
#считываем файл Excel считываем только данные первого рабочего листа (msft в данном случае)
df = pd.read_excel("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [31]:
# считываем данные рабочего листа aapl
aapl = pd.read_excel('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.xlsx', sheet_name='aapl')
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [32]:
# сохраняем XLS файл в рабочем листе 'Sheet1'
df.to_excel('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks2.xls')

In [33]:
# записываем, задав имя рабочего листа MSFT
df.to_excel('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks_msft.xls', sheet_name='MSFT')

In [34]:
from pandas import ExcelWriter
with ExcelWriter('C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/stocks.xlsx') as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

In [ ]:
#