In [1]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

import matplotlib.pyplot as plt
%matplotlib inline

-создание объекта DataFrame на основе результатов функций NumPy

In [11]:
# создаем датафрейм из одномерного массива NumPy
pd.DataFrame(np.arange(1,6))

   0
0  1
1  2
2  3
3  4
4  5

In [12]:
df = pd.DataFrame(np.array([[10,11],[20,21]]))
df

    0   1
0  10  11
1  20  21

In [6]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [7]:
df = pd.DataFrame(np.array([[70,71],[90,91]]),
                 columns=['Missoula','Philadelphia'])
df

   Missoula  Philadelphia
0        70            71
1        90            91

In [8]:
len(df)

2

In [10]:
df.shape

(2, 2)

-Создание объекта DataFrame с помощью питоновского словаря и объектов Series

In [13]:
#Создание датафрейма с помощью питоновского словаря
temps_missoula = [70,71]
temps_philly = [90,91]
temperatures = {'Missoula': temps_missoula, 'Philadelphia': temps_philly}
pd.DataFrame(temperatures)

   Missoula  Philadelphia
0        70            90
1        71            91

In [14]:
#создание датафрейма для списка объектов Series
temps_at_time0 = pd.Series([70,90])
temps_at_time1 = pd.Series([71,91])
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df

    0   1
0  70  90
1  71  91

In [15]:
#Задаем имена столбцам
df = pd.DataFrame([temps_at_time0, temps_at_time1],
                 columns=['Missoula','Philadelphia'])
df

   Missoula  Philadelphia
0       NaN           NaN
1       NaN           NaN

In [16]:
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df.columns=['Missoula','Philadelphia']
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [17]:
#создаем датафрейм с помощью словаря, состоящего из объектов Series
temps_mso_series = pd.Series(temps_missoula)
temps_phi_series = pd.Series(temps_philly)
df = pd.DataFrame({'Missoula': temps_mso_series,
                  'Philadelphia': temps_phi_series})
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [18]:
temps_nyc_series = pd.Series([85,87], index=[1,2])
df = pd.DataFrame({'Missoula': temps_mso_series,
                  'Philadelphia': temps_phi_series,
                  'New Yourk': temps_nyc_series})
df

   Missoula  Philadelphia  New Yourk
0      70.0          90.0        NaN
1      71.0          91.0       85.0
2       NaN           NaN       87.0

-Создание объекта DataFrame на основе CSV-файла

In [28]:
#считываем данные и выводим первые пять строк, используем столбец Symbol в качестве индекса
# и считываем только те столбцы, у которых позиции 0,2,3,7
sp500 = pd.read_csv("C:/Users/Anton.Zaimist/Desktop/pandas/Learning_pandas_russian_translation/Data/sp500.csv",
                   index_col='Symbol',
                    usecols=[0,2,3,7])
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [20]:
#выведем превые 5 строк с помощью  метода .head()
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [21]:
len(sp500)

500

In [22]:
sp500.shape

(500, 3)

In [25]:
sp500.size

1500

In [26]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [27]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

-Доступ к данным внутри объекта DataFrame

-Отбор столбцов в объекте DataFrame

In [29]:
#Извлекает столбец sector
sp500['Sector'].head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [30]:
type(sp500['Sector'])

pandas.core.series.Series

In [31]:
sp500[['Price','Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

In [32]:
type(sp500[['Price','Book Value']])

pandas.core.frame.DataFrame

In [33]:
#Атрибутивный доступ к столбцу по имени
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

-Отбор строк в объекте DataFrame

In [34]:
#получаем строку с меткой индекса МММ, которая возвращается в виде объекта Series
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [35]:
type(sp500.loc['MMM'])

pandas.core.series.Series

In [36]:
sp500.loc[['MMM','MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [37]:
type(sp500.loc[['MMM','MSFT']])

pandas.core.frame.DataFrame

In [41]:
#получаем строки, имеющие позиции 0 и 2
sp500.iloc[[0,2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

In [42]:
#получаем позиции меток МММ и А в индексе
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1,i2)

(0, 10)

In [43]:
sp500.iloc[[i1,i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

-Поиск скалярного значения по метке и позиции с помощью .at[] и .iat[]

In [44]:
#ищем скалярное значение по метке строки и метке(имени) столбца
sp500.at['MMM','Price']

141.14

In [45]:
#ищем скалярное значение по позиции строки и позиции столбца
#извлекаем значение в строке 0, столбец 1
sp500.iat[0,1]

141.14

-Создание среза датафреймас помощью оператора[]

In [46]:
#первые 5 строк 
sp500[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [47]:
#строки, начиная с метки АВТ и заканчивая меткой ACN
sp500['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

-Логический отбор строк

In [48]:
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

In [49]:
#Выводим строки, в которых Price < 100
sp500[sp500.Price < 100]

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

In [51]:
#извлекает лишь те строки, в которых значение Price < 10 и > 6
r = sp500[(sp500.Price < 10)&(sp500.Price > 6)]['Price']
r

Symbol
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

In [55]:
#извлекает строки, в которых переменная Sector принимает значение Health Care,
# а переменная Price больше или равна 100.00
r = sp500[(sp500.Sector == 'Health Care') & (sp500.Price >= 100.00)][['Sector','Price']]
r

             Sector   Price
Symbol
ACT     Health Care  213.77
ALXN    Health Care  162.30
AGN     Health Care  166.92
AMGN    Health Care  114.33
BCR     Health Care  146.62
...             ...     ...
REGN    Health Care  297.77
TMO     Health Care  115.74
WAT     Health Care  100.54
WLP     Health Care  108.82
ZMH     Health Care  101.84

[19 rows x 2 columns]

-Одновременный отбор строк и столбцов

In [56]:
#отбираем строки с метками индекса АВТ и ZTS для столбцов Sector и price
sp500.loc[['ABT','ZTS']][['Sector','Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53