In [1]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

import matplotlib.pyplot as plt
%matplotlib inline

создание series с помощью python

In [2]:
s = pd.Series([10,11,12,13,14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [3]:
pd.Series(['Mike','Marcia','Mikael','Bleu'])

0      Mike
1    Marcia
2    Mikael
3      Bleu
dtype: object

In [4]:
pd.Series([2]*5)

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [5]:
pd.Series(list('sdsadasdasd'))

0     s
1     d
2     s
3     a
4     d
     ..
6     s
7     d
8     a
9     s
10    d
Length: 11, dtype: object

In [7]:
pd.Series({'MIke': 'Dad',
           'Marcia': 'Mom',
           'Mikael': 'Son',
           'Bleu': 'Best doggie ever'
    
})

MIke                   Dad
Marcia                 Mom
Mikael                 Son
Bleu      Best doggie ever
dtype: object

-создание объекта Series с numpy

In [8]:
pd.Series(np.arange(4,9))

0    4
1    5
2    6
3    7
4    8
dtype: int32

In [9]:
#создаем последовательность из 5 значений, лежащих в интервале от 0 до 9
pd.Series(np.linspace(0,9,5))

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

In [12]:
#генерация случайных чисел
np.random.seed(12345) #всегда генерирует одни и те же числа
#создаем серию из 5 нормально распределенных случайных чисел
pd.Series(np.random.normal(size=5))

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

-создание объекта Series с помощью скалярного значения

In [13]:
s = pd.Series(2)

In [14]:
s

0    2
dtype: int64

In [15]:
s = pd.Series(np.arange(0,5))
s * 2

0    0
1    2
2    4
3    6
4    8
dtype: int32

Свойства .index и .values

In [16]:
#получение значения в объекте Series
s = pd.Series([1,2,3])
s.values

array([1, 2, 3], dtype=int64)

In [17]:
#показываем что результат - это массив numpy
type(s.values)

numpy.ndarray

In [18]:
s.index

RangeIndex(start=0, stop=3, step=1)

-Размер и форма объекта series

In [19]:
s = pd.Series([0,1,2,3])
len(s)

4

In [20]:
s.size

4

In [21]:
s.shape

(4,)

-Установка индекса во время создания объекта series

In [22]:
# явное создание индекса
labels = ['Mike', 'Marcia', 'Mikhael', 'Bleu']
role = ['dad','mom','son','dog']
s = pd.Series(labels, index=role)
s

dad       Mike
mom     Marcia
son    Mikhael
dog       Bleu
dtype: object

In [23]:
s.index

Index(['dad', 'mom', 'son', 'dog'], dtype='object')

In [24]:
s['dad']

'Mike'

-Использование методов .head(), .tail(), .take() для вывода значений

In [3]:
s = pd.Series(np.arange(1,10),
             index=list('abcdefghi'))

In [6]:
s.head(6)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int32

In [7]:
s.tail(9)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int32

In [8]:
#отбор строки, соответствующие позициям 1,5 и 8
s.take([1,5,8])

b    2
f    6
i    9
dtype: int32

-Получение значений в объекте Series по метке или позиции

In [9]:
s1 = pd.Series(np.arange(10,15), index=list('abcde'))
s1

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [10]:
s1['a']

10

In [11]:
s1[['b','d']]

b    11
d    13
dtype: int32

In [12]:
s1[[3,1]]

d    13
b    11
dtype: int32

In [13]:
s2 = pd.Series([1,2,3,4], index=[10,11,12,13])
s2

10    1
11    2
12    3
13    4
dtype: int64

In [14]:
#поиск по метке а не по позиции
s2[[13,10]]

13    4
10    1
dtype: int64

In [15]:
#явный поиск по позиции(актуальный) с помощью iloc
s1.iloc[[0,2]]

a    10
c    12
dtype: int32

In [16]:
s2.iloc[[3,2]]

13    4
12    3
dtype: int64

In [17]:
#явный поиск по меткам(Актуальный) с помощью loc
s1.loc[['a','d']]

a    10
d    13
dtype: int32

In [18]:
s2.loc[[11,12]]

11    2
12    3
dtype: int64

In [19]:
s1.loc[['a','f']]

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

a    10.0
f     NaN
dtype: float64

-Создание срезов объекта Series

In [20]:
#создаем объек series
#используем метки индекса не с нуля, чтобы продемонстрировать
#как можно создать срез,используя позиции
s = pd.Series(np.arange(100,110), index=np.arange(10,20))
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

In [21]:
s[1:6]

11    101
12    102
13    103
14    104
15    105
dtype: int32

In [22]:
s.iloc[[1,2,3,4,5]]

11    101
12    102
13    103
14    104
15    105
dtype: int32

In [23]:
s[1:6:2]

11    101
13    103
15    105
dtype: int32

In [24]:
s[:5]

10    100
11    101
12    102
13    103
14    104
dtype: int32

In [25]:
s[4:]

14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

In [26]:
s[:5:2]

10    100
12    102
14    104
dtype: int32

In [27]:
s[4::2]

14    104
16    106
18    108
dtype: int32

In [28]:
s[::-1]

19    109
18    108
17    107
16    106
15    105
14    104
13    103
12    102
11    101
10    100
dtype: int32

In [29]:
s[4::-2]

14    104
12    102
10    100
dtype: int32

In [30]:
s[-4:]

16    106
17    107
18    108
19    109
dtype: int32

In [31]:
#-4 означает отбор всех строк, кроме последних 4
s[:-4]

10    100
11    101
12    102
13    103
14    104
15    105
dtype: int32

In [32]:
s[-4:-1]

16    106
17    107
18    108
dtype: int32

In [33]:
s = pd.Series(np.arange(0,5),
             index=['a','b','c','d','e'])
s

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [34]:
s[1:3]

b    1
c    2
dtype: int32

In [35]:
s['b':'d']

b    1
c    2
d    3
dtype: int32

-Выравнивание данных по меткам индекса

In [36]:
#Первая серия для выравнивания
s1 = pd.Series([1,2], index=['a','b'])
s1

a    1
b    2
dtype: int64

In [37]:
#Вторая серия для выравнивания
s2 = pd.Series([4,3], index=['b','a'])
s2

b    4
a    3
dtype: int64

In [38]:
s1 + s2

a    4
b    6
dtype: int64

In [39]:
s1 * 2

a    2
b    4
dtype: int64

In [44]:
#создаем серию на основе скалярного значения2,но с индесом серии s1
t = pd.Series(2,s1.index)
t

a    2
b    2
dtype: int64

In [45]:
s1 * t

a    2
b    4
dtype: int64

In [46]:
#создаем серию s3 что бы сложить ее значение с серией s1
s3 = pd.Series([5,6], index=['b','c'])
s3

b    5
c    6
dtype: int64

In [47]:
#серия s1 и s3 имеют разные индексы
#для a и c будут получены значения NaN
s1 + s3

a    NaN
b    7.0
c    NaN
dtype: float64

In [48]:
#2 метки а
s1 = pd.Series([1.0,2.0,3.0], index=['a','a','b'])
s1

a    1.0
a    2.0
b    3.0
dtype: float64

In [49]:
#3 метки а
s2 = pd.Series([4.0,5.0,6.0,7.0], index=['a','a','c','a'])
s2

a    4.0
a    5.0
c    6.0
a    7.0
dtype: float64

In [50]:
s1 + s2

a    5.0
a    6.0
a    8.0
a    6.0
a    7.0
a    9.0
b    NaN
c    NaN
dtype: float64

-Выполнение логического отбора

In [3]:
s = pd.Series(np.arange(0,5), index=list('abcde'))
logical_results = s >= 3
logical_results

a    False
b    False
c    False
d     True
e     True
dtype: bool

In [4]:
s[logical_results]

d    3
e    4
dtype: int32

In [5]:
s[s>5]

Series([], dtype: int32)

In [6]:
#s[s>=2 and s <5] не будет работать в pandas
s[(s>=2)&(s<5)] #правильный синтаксис для pandas

c    2
d    3
e    4
dtype: int32

In [7]:
#все ли элементы >=0?
(s>=0).all()

True

In [8]:
#есть ли элемент <2?
s[s<2].any()

True

In [9]:
#сколько значений < 2?
(s<2).sum()

2

-Переиндексация объекта Series

In [10]:
np.random.seed(123456)
s=pd.Series(np.random.randn(5))
s

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
dtype: float64

In [13]:
s.index = ['a','b','c','d','e']
s

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
e    1.212112
dtype: float64

In [14]:
np.random.seed(123456)
s1=pd.Series(np.random.randn(4),['a','b','c','d'])
s1

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
dtype: float64

In [15]:
#индексируем заново, используя другое количество меток
#в итоге некоторые строки удалены и\или получены значения NaN
s2 = s1.reindex(['a','c','g'])
s2

a    0.469112
c   -1.509059
g         NaN
dtype: float64

In [16]:
#использование разных типов для одних и тех же меток порождает большие проблемы
s1 = pd.Series([0,1,2],index=[0,1,2])
s2 = pd.Series([3,4,5],index=['0','1','2'])
s1+s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [17]:
#заново индексируем, согласовав типы меток, и получаем нужный результат
s2.index = s2.index.values.astype(int)
s1+s2

0    3
1    5
2    7
dtype: int64

In [19]:
#заполняем отсутствующее значение нулем вместо NaN
s2 = s.copy()
s2.reindex(['a','f'], fill_value=0)

a    0.469112
f    0.000000
dtype: float64

In [20]:
s3 = pd.Series(['red','green','blue'], index=[0,3,5])
s3

0      red
3    green
5     blue
dtype: object

In [21]:
#пример прямого заполнения
s3.reindex(np.arange(0,7), method='ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

In [22]:
#пример обратного заполнения
s3.reindex(np.arange(0,7), method='bfill')

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object

-Модификаци объекта series на месте

In [24]:
np.random.seed(123456)
s = pd.Series(np.random.randn(3), index=['a','b','c'])
s

a    0.469112
b   -0.282863
c   -1.509059
dtype: float64

In [25]:
#добавляем значение в серию, на месте
#новый объект Series не возвращается
s['d'] = 100
s

a      0.469112
b     -0.282863
c     -1.509059
d    100.000000
dtype: float64

In [27]:
#модифицируем на месте значение d
s['d'] = -100
s

a      0.469112
b     -0.282863
c     -1.509059
d   -100.000000
dtype: float64

In [28]:
#удаление строки\элемента
del(s['a'])
s

b     -0.282863
c     -1.509059
d   -100.000000
dtype: float64

In [30]:
copy = s.copy()
slice = copy[:2]
slice

b   -0.282863
c   -1.509059
dtype: float64

In [31]:
#меняем значение в метке 'b' нашего среза
slice['b'] = 0
copy

b      0.000000
c     -1.509059
d   -100.000000
dtype: float64